{% load static %}

<head role="head">
    {% include 'base/critical.html' %} <!-- critical theme load -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyDO</title>

    <!-- Preload Critical Resources -->
    <link rel="preload" href="{% static 'css/phospor-icons/regular/Phosphor.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="modulepreload" href="{% static 'js/language/translate.js' %}">
    <link rel="modulepreload" href="{% static 'js/language/translate-data.js' %}">

    <link rel="icon" type="image/png" href="{% static 'img/logo/header-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
    <link rel="stylesheet" href="{% static 'css/special.css'%}">
    {% block extra_head %}{% endblock %}
    <!-- navbar into head for fast download -->
    {% include 'base/navbar.html' %}
    <!-- <script src="https://unpkg.com/@phosphor-icons/web"></script> -->
    {% include 'base/phospor-icons.html' %}
</head>
