{% load static %}

<nav id="main-navbar">
    <div id="LEFT-SECTION" class="logo">
        <a href="{% url 'index' %}">
            <picture>
                <source srcset="{% static 'img/logo/logo-32.webp' %}" media="(max-height: 32px)">
                <source srcset="{% static 'img/logo/logo-64.webp' %}" media="(max-height: 64px)">
                <source srcset="{% static 'img/logo/logo-128.webp' %}" media="(max-height: 128px)">
                <source srcset="{% static 'img/logo/logo-256.webp' %}" media="(max-height: 256px)">
                <source srcset="{% static 'img/logo/logo-512.webp' %}" media="(max-height: 512px)">
                <img src="{% static 'img/logo/logo-64.webp' %}" alt="Logo" class="logo">
            </picture>
        </a>
        <div class="mobile-dropdown">
            <ul class="dropdown">
                <li><a href=""><i class="ph ph-calendar-check"></i>Plans</a></li>
                <li><a href=""><i class="ph ph-note"></i>Reports</a></li>
                <li><a href=""><i class="ph ph-wechat-logo"></i>Forums</a></li>
            </ul>
        </div>
    </div>

    <div id="MIDDLE-SECTION" class="nav-links">
        <div class="pill">
            <div class="link-header">
                <a href=""><i class="ph ph-calendar-check"></i>Plans</a>
            </div>

            <div class="link-header active">
                <a href=""><i class="ph ph-note"></i>Reports</a>
            </div>
            <div class="link-header">
                <a href=""><i class="ph ph-wechat-logo"></i>Forums</a>
            </div>
        </div>
    </div>
    <div id="RIGHT-SECTION" class="accounts">
        <div class="dropdown-container">
            <img src="{% static 'img/language.svg' %}" alt="Language" class="accounts-icon-img">
            <ul class="dropdown">
                <li><a href="#"><img src="{% static 'img/flags/uz.svg' %}" class="accounts-icon-img" alt="UZ"> UZ</a></li>
                <li><a href="#"><img src="{% static 'img/flags/en.svg' %}" class="accounts-icon-img" alt="EN"> EN</a></li>
                <li><a href="#"><img src="{% static 'img/flags/ru.svg' %}" class="accounts-icon-img" alt="RU"> RU</a></li>
            </ul>
        </div>

        <div class="dropdown-container">
            <img src="{% static 'img/color.svg' %}" alt="Theme" class="accounts-icon-img">
            <ul id="THEME-DROPDOWN" class="dropdown">
                <li><a data-theme="light" href="#"><i class="ph ph-sun"></i> Light</a></li>
                <li><a data-theme="dark" href="#"><i class="ph ph-moon"></i> Dark</a></li>
                <li><a data-theme="auto" href="#"><i class="ph ph-circle-half"></i> Auto</a></li>
            </ul>
        </div>

        <div class="dropdown-container">
            <img src="{% static 'img/avatar/1.svg' %}" alt="Account" class="account-img">
            <ul class="dropdown account-dropdown">
                <li><a href="#"><i class="ph ph-user"></i> Profile</a></li>
                <li><a href="#"><i class="ph ph-gear"></i> Settings</a></li>
                <li><a href="#"><i class="ph ph-sign-out"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
