{% load static %}

<nav id="main-navbar" role="navigation">
    <div id="LEFT-SECTION" class="logo">
        <a href="{% url 'index' %}">
            <picture>
                <source srcset="{% static 'img/logo/logo-32.webp' %}" media="(max-height: 32px)">
                <source srcset="{% static 'img/logo/logo-64.webp' %}" media="(max-height: 64px)">
                <source srcset="{% static 'img/logo/logo-128.webp' %}" media="(max-height: 128px)">
                <source srcset="{% static 'img/logo/logo-256.webp' %}" media="(max-height: 256px)">
                <source srcset="{% static 'img/logo/logo-512.webp' %}" media="(max-height: 512px)">
                <img src="{% static 'img/logo/logo-64.webp' %}" alt="Logo" class="logo">
            </picture>
        </a>
        <div class="mobile-dropdown">
            <ul class="dropdown">
                <li><a href=""><i class="ph ph-calendar-check"></i> <span data-translate="plans" data-width="10"></span></a></li>
                <li><a href=""><i class="ph ph-note"></i> <span data-translate="reports" data-width="10"></span></a></li>
                <li><a href=""><i class="ph ph-wechat-logo"></i> <span data-translate="forums" data-width="10"></span></a></li>
            </ul>
        </div>
    </div>

    <div id="MIDDLE-SECTION" class="nav-links">
        <div class="pill">
            <div class="link-header">
                <a href=""><i class="ph ph-calendar-check"></i> <span data-translate="plans" data-width="10"></span></a>
            </div>

            <div class="link-header active">
                <a href=""><i class="ph ph-note"></i> <span data-translate="reports" data-width="10"></span></a>
            </div>
            <div class="link-header">
                <a href=""><i class="ph ph-wechat-logo"></i> <span data-translate="forums" data-width="10"></span></a>
            </div>
        </div>
    </div>
    <div id="RIGHT-SECTION" class="accounts">
        <div class="dropdown-container">
            <img src="{% static 'img/language.svg' %}" alt="Language" class="accounts-icon-img">
            <ul class="dropdown">
                <li><a href="#" data-lang="uz"><img src="{% static 'img/flags/uz.svg' %}" class="accounts-icon-img" alt="UZ"> UZ</a></li>
                <li><a href="#" data-lang="en"><img src="{% static 'img/flags/en.svg' %}" class="accounts-icon-img" alt="EN"> EN</a></li>
                <li><a href="#" data-lang="ru"><img src="{% static 'img/flags/ru.svg' %}" class="accounts-icon-img" alt="RU"> RU</a></li>
            </ul>
        </div>

        <div class="dropdown-container">
            <img src="{% static 'img/color.svg' %}" alt="Theme" class="accounts-icon-img">
            <ul id="THEME-DROPDOWN" class="dropdown">
                <li><a data-theme="light" href="#"><i class="ph ph-sun"></i> <span data-translate="light"></span></a></li>
                <li><a data-theme="dark" href="#"><i class="ph ph-moon"></i> <span data-translate="dark"></span></a></li>
                <li><a data-theme="auto" href="#"><i class="ph ph-circle-half"></i> <span data-translate="auto"></span></a></li>
            </ul>
        </div>

        <div class="dropdown-container">
            <img src="{% static 'img/avatar/1.svg' %}" alt="Account" class="account-img">
            <ul class="dropdown account-dropdown">
                {% if user.is_authenticated %}
                <li><a href="#"><i class="ph ph-user"></i> <span data-translate="profile"></span></a></li>
                <li><a href="#"><i class="ph ph-gear"></i> <span data-translate="settings"></span></a></li>
                <li><a href="{% url 'logout' %}"><i class="ph ph-sign-out"></i> <span data-translate="logout"></span></a></li>
                {% else %}
                <li><a href="{% url 'login' %}"><i class="ph ph-sign-in"></i> <span data-translate="login"></span></a></li>
                <li><a href="{% url 'signup' %}"><i class="ph ph-user-plus"></i> <span data-translate="signup"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="nav-bottom"></div>
