{% load static %}
<link rel="stylesheet" href="{% static 'css/phospor-icons/regular/style.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/phospor-icons/bold/style.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'css/phospor-icons/thin/style.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'css/phospor-icons/light/style.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'css/phospor-icons/fill/style.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'css/phospor-icons/duotone/style.css' %}"> -->
