:root {
    --nav-height: 64px;
    --logo-scale: 1.25;
    --nav-p-inline: 1.5rem;
    --nav-font-size: 1.3rem;
    --nav-font-weight: 700;
}

:root[data-theme="dark"] {
    --nav-bg-color: #1b1b1b;
    --nav-link-header-bg-color: #252525;
    --nav-link-color: linear-gradient(135deg, #0a0aff, #0e0e81);
    --nav-link-hover-color: linear-gradient(225deg, #ff003c, #770822);
}

:root[data-theme="light"] {
    --nav-bg-color: #cecece;
    --nav-link-header-bg-color: #c5c5c5;
    --nav-link-color: linear-gradient(135deg, #0a0aff, #0e0e81);
    --nav-link-hover-color: linear-gradient(225deg, #ff003c, #770822);
}

nav {
    width: 100%;
    height: var(--nav-height);
    background: var(--nav-bg-color);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    padding-inline-start: var(--nav-p-inline);

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--nav-link-color);
}

nav .logo,
nav .nav-links,
nav .accounts {
    display: flex;
    align-items: center;
}

nav .logo img {
    max-height: var(--nav-height);
    transition: scale 0.2s ease-in-out;
}

nav .logo img:hover {
    scale: var(--logo-scale);
}

nav .nav-links .link-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--nav-link-header-bg-color);
    padding: 0.3rem 1.2rem;
}

nav .nav-links .link-header:first-child {
    border-radius: 2rem 0 0 2rem;
    margin-right: auto;
}

nav .nav-links .link-header:last-child {
    border-radius: 0 2rem 2rem 0;
    margin-left: auto;
}

nav .nav-links .link-header a {
    text-decoration: none;
    background: var(--nav-link-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.2s ease-in-out;
}

nav .nav-links .link-header a:hover,
nav .nav-links .link-header.active a {
    background: var(--nav-link-hover-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav .nav-links .link-header.active {
    background: var(--nav-bg-color);
    border-radius: 2rem;
}

nav .nav-links .link-header.active+.link-header {
    border-radius: 2rem 0 0 2rem;
}

nav .nav-links .link-header:has(+ .link-header.active) {
    border-radius: 0 2rem 2rem 0;
}

nav .accounts {
    position: relative;
    padding-inline-end: var(--nav-p-inline);
}

nav .accounts .account-img {
    width: calc(var(--nav-height) * 0.8);
    height: calc(var(--nav-height) * 0.8);
    border-radius: 50%;
    cursor: pointer;
}

nav .accounts .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--nav-bg-color);
    border-radius: 0 0 0 1.5rem;
    list-style: none;
    margin: 0;
    padding-top: calc(var(--nav-height) * 0.1);
    min-width: 150px;
    display: none;
    font-size: 0.95rem;
}

nav .accounts.open .dropdown {
    display: block;
}

nav .accounts .dropdown li {
    padding: 0.5rem 1rem;
    word-spacing: 0.5rem;
    line-height: 1.4;
    cursor: pointer;
}

nav .accounts .dropdown li a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
}

nav .accounts .dropdown li:last-child {
    border-bottom-left-radius: 1.5rem;
}

nav .accounts .dropdown li:hover {
    background: var(--nav-link-header-bg-color);
}