:root[data-theme="dark"] {
    --primary-body-color: #242525;
    --text-primary: #f8fafc;
}

:root[data-theme="light"] {
    --primary-body-color: #ffffff;
    --text-primary: #1e293b;

}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: var(--primary-body-color);
    color: var(--text-primary);
    line-height: 1.5;
}