<!DOCTYPE html>
<meta name="description" content="DailyDo - this site helps you to manage your daily tasks">
<html lang="uz" data-theme="" role="document">


{% include 'base/head.html' %}
<style>
    .main {
        max-height: calc(100vh - var(--nav-height));
        overflow-y: auto;
        height: 100%;
    }
</style>



<body role="main" aria-label="body">
    {% include 'base/navbar.html' %}
    <main class="main">
        {% block content %}

        {% endblock content %}
    </main>

    {% include 'base/foo.html' %}
    {% include 'base/js.html' %}

</body>

</html>